# App Configuration
VITE_APP_URL=http://localhost:3000
NODE_ENV=development
VITE_API_URL=http://localhost:8000
# Clerk Authentication (Public)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_**********
VITE_CLERK_SIGN_IN_URL=/sign-in
VITE_CLERK_SIGN_UP_URL=/sign-up
VITE_CLERK_AFTER_SIGN_IN_URL=/
VITE_CLERK_AFTER_SIGN_UP_URL=/onboarding
VITE_AUTH_PUBLIC_KEY_PEM=""

#Internal
INTERNAL_API_KEY=*****

AUTH_PRIVATE_KEY_PEM=""

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/party_planner

# Clerk Authentication (Private) - Get from Clerk Dashboard
CLERK_SECRET_KEY=sk_test_*********
CLERK_WEBHOOK_SIGNING_SECRET=whsec_***********

# Resend API - Get from resend.com
RESEND_API_KEY=re_************

# Discord
DISCORD_TOKEN=your-discord-token
DISCORD_API_KEY=your-discord-api-key
